.post-type-archive-illustrations {
  .site-content {
    margin: 1rem;
  }
  .entry-title {
    font-family: 'Merriweather';
    font-size: 1.5rem;
  }
  .illustrations-container {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .illustration-img img {
        box-shadow: 2px 2px 2px grey;
        height: 300px;
        width: auto;
        max-width: 300px;
        object-fit: contain;
        display: flex;
        margin: auto;
      }
    }
  }
}
