/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.main-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  //   padding: 0;
  @include desktop {
    justify-content: flex-start;
    //padding: 1rem;
  }
  .xsszu-logo {
    height: auto;
    width: 85%;
    max-width: 300px;
    display: flex;
    order: 3;
    margin: auto;
    @include desktop {
      width: 200px;
      margin: 0;
      order: 1;
    }
  }
  .menu-toggle {
    display: flex;
    border: none;
    width: 200px;
    margin: auto;
    justify-content: center;
    order: 1;
    @include desktop {
      display: none;
    }
  }
  .menu-main-menu-container {
    width: 100%;
    margin: auto;
    order: 2;
    @include desktop {
    }
    .primary-menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 50%;
      margin: 0 auto;
      padding: 0;
      .menu-item {
        margin: 0 auto;
        font-family: $body_font;
      }

      @include desktop {
        flex-direction: row;
        padding: 0;
        margin-right: 0;
        justify-content: space-around;
      }
    }
  }
}

.menu-hide {
  display: none;
  @include desktop {
    display: block;
  }
}
