/*--------------------------------------------------------------
# General Layout
--------------------------------------------------------------*/

.site {
  @include desktop {
    //display: flex;
    //flex-direction: row;
    .main-navigation {
      display: flex;
      @include desktop {
        //border-right: 2px solid grey;
        height: 100px;
        width: 100%;
        position: unset;
        flex-direction: row;
      }
    }
    .site-content {
      //margin-left: 250px;
    }
  }
}
.site-footer {
  display: none;
}
